<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IDEALTAKE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="IDEALTAKE.My.MySettings.Mysql_ConnectionString" connectionString="server=localhost;User Id=root;database=test080" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <IDEALTAKE.My.MySettings>
      <setting name="Couleur_Font" serializeAs="String">
        <value>Teal</value>
      </setting>
      <setting name="Compteur_image" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="Compteur_Groupe" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Size_Location_Image_centrale" serializeAs="String">
        <value />
      </setting>
      <setting name="Chemin_Image_Centrale" serializeAs="String">
        <value />
      </setting>
      <setting name="Chemin_Source1" serializeAs="String">
        <value />
      </setting>
      <setting name="Couleur_Recherche_Simplifiée" serializeAs="String">
        <value>0, 128, 192</value>
      </setting>
      <setting name="Couleur_Recherche_Guidée" serializeAs="String">
        <value>255, 62, 158</value>
      </setting>
      <setting name="Couleur_Recherche_Statistique" serializeAs="String">
        <value>255, 255, 192</value>
      </setting>
      <setting name="Couleur_Recherche_Avancee" serializeAs="String">
        <value>128, 128, 255</value>
      </setting>
      <setting name="COLOR1" serializeAs="String">
        <value>Control</value>
      </setting>
      <setting name="Nom_de_la_connexion" serializeAs="String">
        <value />
      </setting>
      <setting name="Utiliser_toujours_cette_connexion" serializeAs="String">
        <value />
      </setting>
      <setting name="Activation_Synthese_Vocale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Langue_logiciel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Modification_Objet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RA_Référence_à_ajouter" serializeAs="String">
        <value />
      </setting>
      <setting name="Verrouillage_Script" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Debugage_SCRIPT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RS_Référence_à_ajouter" serializeAs="String">
        <value />
      </setting>
      <setting name="Timer3_RS_MOTS_CLEFS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mots_clefs_à_ajouter" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageRs" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageErreurRs" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageRa" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageErreurRa" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageRg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageErreurRg" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageDetailsEnregistrementW1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageErreurDetailsEnregistrementW1" serializeAs="String">
        <value />
      </setting>
      <setting name="PageHtmlRS" serializeAs="String">
        <value />
      </setting>
      <setting name="PageHtmlRA" serializeAs="String">
        <value />
      </setting>
      <setting name="PageHtmlRG" serializeAs="String">
        <value />
      </setting>
      <setting name="PageHtmlDetailsEnregistrementW1" serializeAs="String">
        <value />
      </setting>
      <setting name="PageHtmlDetailsEnregistrementW2" serializeAs="String">
        <value />
      </setting>
      <setting name="PageHtmlDetailsEnregistrementW3" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageDetailsEnregistrementW3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageErreurDetailsEnregistrementW2" serializeAs="String">
        <value />
      </setting>
      <setting name="PageHtmlGestionBase" serializeAs="String">
        <value />
      </setting>
      <setting name="MessageErreurGestionBase" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageGestionBase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResultatGestionBaseNbreParPage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResultatGestionBaseNumeroPage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PageHtmlAjoutCompteGestionBase" serializeAs="String">
        <value />
      </setting>
      <setting name="MessageAjoutCompteGestionBase" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageAjoutCompteGestionBase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageAuthentificationtCompteGestionBase" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageAuthentificationtCompteGestionBase"
        serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageRécupérationCompteGestionBase" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageRécupérationCompteGestionBase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RécupérationNomCompteGestionBase" serializeAs="String">
        <value />
      </setting>
      <setting name="RécupérationMotdePasseCompteGestionBase" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageSupprimerCompteGestionBase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageSupprimerCompteGestionBase" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageSupprimerEnregistrement" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageSupprimerEnregistrement" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageAjoutEnregistrement" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageAjoutEnregistrement" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageAjoutTreeviewPosition" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageAjoutTreeviewPosition" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageAjoutLiensRéférences" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageAjoutLiensRéférences" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageSupprimeLiensRéférences" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageSupprimeLiensRéférences" serializeAs="String">
        <value />
      </setting>
      <setting name="MaintenanceTransfertIdealtake" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TypeMessageChargementEnregistrement" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageChargementEnregistrement" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeMessageMiseàJourEnregistrement" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageMiseàJourEnregistrement" serializeAs="String">
        <value />
      </setting>
      <setting name="AjoutFireWallException" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TypeMessageDetailsEnregistrementW2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageErreurDetailsEnregistrementW3" serializeAs="String">
        <value />
      </setting>
      <setting name="AuthentificationGestionBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActivationAdresseLocale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdresseLocale" serializeAs="String">
        <value />
      </setting>
      <setting name="MotifArbreFullPath" serializeAs="String">
        <value />
      </setting>
    </IDEALTAKE.My.MySettings>
  </userSettings>
</configuration>